<h1>Welcome to the Angular App</h1>
<div>
	<div>
		<span class="tag">{{labels.portletNamespace}}:</span>
		<span class="value">{{params.portletNamespace}}</span>
	</div>
	<div>
		<span class="tag">{{labels.contextPath}}:</span>
		<span class="value">{{params.contextPath}}</span>
	</div>
	<div>
		<span class="tag">{{labels.portletElementId}}:</span>
		<span class="value">{{params.portletElementId}}</span>
	</div>
	
	<div>
		<span class="tag">{{labels.configuration}}:</span>
		<span class="value pre">{{configurationJSON}}</span>
	</div>
	
</div>
